/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: "forward";
        src: url("/fonts/forward.ttf");
    }
    @font-face {
        font-family: "roboto";
        src: url("/fonts/roboto.ttf");
    }
    @font-face {
        font-family: "robotoBold";
        src: url("/fonts/roboto_bold.ttf");
    }
}

@layer utilities {
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
}